  <%_
  // サイト共通meta設定
  var site = {  name:'サイトの名前',
                url:'http://hoge',
                keywords:''
              };
  _%>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= meta.title %></title>
  <meta name="description" content="<%= meta.desc %>">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="keywords" content="<%= site.keywords %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="<%= meta.title %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= meta.desc %>">
  <meta property="og:url" content="<%= site.url %>">
  <meta property="og:image" content="<%= site.url %>img/ogp.png">
  <meta property="og:site_name" content="<%= site.name %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= site.url %>">
  <meta name="twitter:image" content="<%= site.url %>img/ogp.png">
  <meta name="twitter:title" content="<%= site.name %>">
  <meta name="twitter:description" content="<%= meta.desc %>">
  <link rel="icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="preload">
  <div class="page_wrapper">